@font-face {
  font-family: 'XP';
  src: url('./assets/windows-xp-tahoma.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
  font-family: 'XP', Tahoma, sans-serif !important;
}

button,
input,
select,
label,
.window,
.window-body,
.winxp-font {
  font-family: 'XP', Tahoma, sans-serif !important;
  font-size: 13px !important;
}

.window {
  display: flex !important;
  flex-direction: column !important;
}

.window-body {
  flex: 1 !important;
  overflow: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
}

.title-bar-text {
  font-weight: bold !important;
}

.wallpaper {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.supabase-auth-ui_ui-label {
  color: #000 !important;
  font-weight: normal !important;
  margin-bottom: 4px !important;
  display: block !important;
}

.supabase-auth-ui_ui-input {
  color: #000 !important;
  background-color: #fff !important;
  border: 1px solid #7f9db9 !important;
  border-radius: 0 !important;
  padding: 4px !important;
}

.supabase-auth-ui_ui-button {
  font-family: 'XP', Tahoma, sans-serif !important;
  border-radius: 0 !important;
  color: #000 !important;
  background-color: #eee !important;
  border: 1px solid #333 !important;
  cursor: pointer;
}

.supabase-auth-ui_ui-anchor {
  color: #0000ff !important;
  text-decoration: underline !important;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 70%;
  padding: 10px;
  overflow: hidden;
  box-sizing: border-box;
}

.user-chat {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  height: 100%;
  padding: 10px;
  overflow: hidden;
  box-sizing: border-box;
  flex: 1;
}