@font-face {
  font-family: 'XP';
  src: url('./assets/windows-xp-tahoma.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
  font-family: 'Times New Roman', Times, serif;
}

@font-face {
  font-family: 'XP';
  src: url('./assets/windows-xp-tahoma.woff') format('woff');
}

button {
  font-family: 'XP';
  font-size: 16px;
}

.wallpaper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}